.desktop {
    background-image: url('/home/linus/wallpaper.png');
    background-size: cover;
    .clock {
        color: white;
        text-shadow: 4px 4px 4px black;
        .hour, .minutes, .separator {
            font-size: 20em;
            font-family: $mono_font;
        }
        .date { font-size: 3em; }
    }
}
calendar {
    font-size: 3em;
}
.timer-progress {
    color: #45475a;
}
.timer {
    font-size: 5em;
    color: #a6e3a1;
}
.media {
    font-size: 2em;
}
.media-cover {
    // border-radius: 100px;
    margin-bottom: 10px;
}
